% rebase('templates/base.tpl')
<br>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="data" />
		<input type="submit" value="ok">
	</form>
<hr>
<a href="/galery">Galery</a> 
